
body {
    font-family: Arial, sans-serif;
    text-align: center;
}
.flashcards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    
}
.card {
    border: 1px solid #ccc;
    padding: 10px;
    width: 150px;
    text-align: center;
    border: 2px solid darkgrey;
    border-radius: 10px;
    background-color: lightgray;
}
.flag {
    width: 100%;
    height: auto;
    border: 0px solid;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
}